{% extends 'base.html.twig' %}

{% block title %}Ajout csv{% endblock %}

{% block body %}
    <h1>Ajouter plusieurs films</h1>

    <p>Cette fonctionnalité n'est malheureusement pas implémentée</p>
{% endblock %}